<!DOCTYPE html>
<html lang="zh-CN" class="ua-windows ua-webkit">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="renderer" content="webkit">
    <meta name="referrer" content="always">
    <meta name="google-site-verification" content="ok0wCgT20tBBgo9_zat2iAcimtN4Ftf5ccsh092Xeyw" />
    <title>
    孤注一掷 海报
</title>
    
    <meta name="baidu-site-verification" content="cZdR4xxR7RxmM4zE" />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="Sun, 6 Mar 2006 01:00:00 GMT">
    
    <meta name="keywords" content="海报,图片,下载"/>
    <meta name="description" content="孤注一掷电影海报欣赏,高清原图下载"/>

    <link rel="apple-touch-icon" href="https://img1.doubanio.com/cuphead/movie-static/pics/apple-touch-icon.png">
    <link href="https://img1.doubanio.com/f/vendors/e92483e5e4c9c60cc75cbd8b700a2fd5b5fdf7b0/css/douban.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/f/vendors/ee6598d46af0bc554cecec9bcbf525b9b0582cb0/css/separation/_all.css" rel="stylesheet" type="text/css">
    <link href="https://img1.doubanio.com/cuphead/movie-static/base/init.15f4b.css" rel="stylesheet">
    <script type="text/javascript">var _head_start = new Date();</script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/0511abe9863c2ea7084efa7e24d1d86c5b3974f1/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/e057439e70105417dffc6fab571688d52efeab23/js/douban.js"></script>
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/b0d3faaf7a432605add54908e39e17746824d6cc/js/separation/_all.js"></script>
    
    <link rel="stylesheet" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css">
    <link rel="stylesheet" href="https://img3.doubanio.com/cuphead/movie-static/mod/btns.b0b32.css">

    <style type="text/css"></style>
    <style type="text/css">img { max-width: 100%; }</style>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://img1.doubanio.com/misc/mixed_static/7ed6aa86a182d360.css">

    <link rel="shortcut icon" href="https://img1.doubanio.com/favicon.ico" type="image/x-icon">
</head>

<body>
  
    <script type="text/javascript">var _body_start = new Date();</script>

    
    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.css" rel="stylesheet" type="text/css">



<div id="db-global-nav" class="global-nav">
  <div class="bd">
    
<div class="top-nav-info">
  <a href="https://accounts.douban.com/passport/login?source=movie" class="nav-login" rel="nofollow">登录/注册</a>
</div>


    <div class="top-nav-doubanapp">
  <a href="https://www.douban.com/doubanapp/app?channel=top-nav" class="lnk-doubanapp">下载豆瓣客户端</a>
  <div id="doubanapp-tip">
    <a href="https://www.douban.com/doubanapp/app?channel=qipao" class="tip-link">豆瓣 <span class="version">6.0</span> 全新发布</a>
    <a href="javascript: void 0;" class="tip-close">×</a>
  </div>
  <div id="top-nav-appintro" class="more-items">
    <p class="appintro-title">豆瓣</p>
    <p class="qrcode">扫码直接下载</p>
    <div class="download">
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=iOS">iPhone</a>
      <span>·</span>
      <a href="https://www.douban.com/doubanapp/redirect?channel=top-nav&direct_dl=1&download=Android" class="download-android">Android</a>
    </div>
  </div>
</div>

    


<div class="global-nav-items">
  <ul>
    <li class="">
      <a href="https://www.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-main&quot;,&quot;uid&quot;:&quot;0&quot;}">豆瓣</a>
    </li>
    <li class="">
      <a href="https://book.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-book&quot;,&quot;uid&quot;:&quot;0&quot;}">读书</a>
    </li>
    <li class="on">
      <a href="https://movie.douban.com"  data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-movie&quot;,&quot;uid&quot;:&quot;0&quot;}">电影</a>
    </li>
    <li class="">
      <a href="https://music.douban.com" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-music&quot;,&quot;uid&quot;:&quot;0&quot;}">音乐</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/location" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-location&quot;,&quot;uid&quot;:&quot;0&quot;}">同城</a>
    </li>
    <li class="">
      <a href="https://www.douban.com/group" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-group&quot;,&quot;uid&quot;:&quot;0&quot;}">小组</a>
    </li>
    <li class="">
      <a href="https://read.douban.com&#47;?dcs=top-nav&amp;dcm=douban" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-read&quot;,&quot;uid&quot;:&quot;0&quot;}">阅读</a>
    </li>
    <li class="">
      <a href="https://fm.douban.com&#47;?from_=shire_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-fm&quot;,&quot;uid&quot;:&quot;0&quot;}">FM</a>
    </li>
    <li class="">
      <a href="https://time.douban.com&#47;?dt_time_source=douban-web_top_nav" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-time&quot;,&quot;uid&quot;:&quot;0&quot;}">时间</a>
    </li>
    <li class="">
      <a href="https://market.douban.com&#47;?utm_campaign=douban_top_nav&amp;utm_source=douban&amp;utm_medium=pc_web" target="_blank" data-moreurl-dict="{&quot;from&quot;:&quot;top-nav-click-market&quot;,&quot;uid&quot;:&quot;0&quot;}">豆品</a>
    </li>
  </ul>
</div>

  </div>
</div>
<script>
  ;window._GLOBAL_NAV = {
    DOUBAN_URL: "https://www.douban.com",
    N_NEW_NOTIS: 0,
    N_NEW_DOUMAIL: 0
  };
</script>



    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/shire/bundle.js" defer="defer"></script>




    



    <link href="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.css" rel="stylesheet" type="text/css">




<div id="db-nav-movie" class="nav">
  <div class="nav-wrap">
  <div class="nav-primary">
    <div class="nav-logo">
      <a href="https:&#47;&#47;movie.douban.com">豆瓣电影</a>
    </div>
    <div class="nav-search">
      <form action="https:&#47;&#47;search.douban.com&#47;movie/subject_search" method="get">
        <fieldset>
          <legend>搜索：</legend>
          <label for="inp-query">
          </label>
          <div class="inp"><input id="inp-query" name="search_text" size="22" maxlength="60" placeholder="搜索电影、电视剧、综艺、影人" value=""></div>
          <div class="inp-btn"><input type="submit" value="搜索"></div>
          <input type="hidden" name="cat" value="1002" />
        </fieldset>
      </form>
    </div>
  </div>
  </div>
  <div class="nav-secondary">
    

<div class="nav-items">
  <ul>
    <li    ><a href="https://movie.douban.com/cinema/nowplaying/"
     >影讯&购票</a>
    </li>
    <li    ><a href="https://movie.douban.com/explore"
     >选电影</a>
    </li>
    <li    ><a href="https://movie.douban.com/tv/"
     >电视剧</a>
    </li>
    <li    ><a href="https://movie.douban.com/chart"
     >排行榜</a>
    </li>
    <li    ><a href="https://movie.douban.com/review/best/"
     >影评</a>
    </li>
    <li    ><a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=navigation"
     >2023年度榜单</a>
    </li>
    <li    ><a href="https://c9.douban.com/app/standbyme-2023/?autorotate=false&fullscreen=true&hidenav=true&monitor_screenshot=true&source=web_navigation"
            target="_blank"
     >2023年度报告</a>
    </li>
  </ul>
</div>

    <a href="https://movie.douban.com/annual/2023/?fullscreen=1&source=movie_navigation" class="movieannual"></a>
  </div>
</div>

<script id="suggResult" type="text/x-jquery-tmpl">
  <li data-link="{{= url}}">
            <a href="{{= url}}" onclick="moreurl(this, {from:'movie_search_sugg', query:'{{= keyword }}', subject_id:'{{= id}}', i: '{{= index}}', type: '{{= type}}'})">
            <img src="{{= img}}" width="40" />
            <p>
                <em>{{= title}}</em>
                {{if year}}
                    <span>{{= year}}</span>
                {{/if}}
                {{if sub_title}}
                    <br /><span>{{= sub_title}}</span>
                {{/if}}
                {{if address}}
                    <br /><span>{{= address}}</span>
                {{/if}}
                {{if episode}}
                    {{if episode=="unknow"}}
                        <br /><span>集数未知</span>
                    {{else}}
                        <br /><span>共{{= episode}}集</span>
                    {{/if}}
                {{/if}}
            </p>
        </a>
        </li>
  </script>




    <script src="//img3.doubanio.com/dae/accounts/resources/78fadc7/movie/bundle.js" defer="defer"></script>





    
    <div id="wrapper">
        

        
    <div id="content">
        
    <h1>孤注一掷的海报</h1>

        <div class="grid-16-8 clearfix">
            
            
            <div class="article">
                
<div class="opt-bar-line clearfix">
    
        
            按喜欢排序
        ·
            <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=0&amp;sortby=size&amp;size=a&amp;subtype=a" >按尺寸排序</a>
        ·
            <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=0&amp;sortby=time&amp;size=a&amp;subtype=a" >按时间排序</a>

</div>

<ul class="poster-col3 clearfix"
    id=""
>
    

        <li data-id="2896551721">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896551721/">
                <img src="https://img2.doubanio.com/view/photo/m/public/p2896551721.jpg" />
            </a>
        </div>

            <div class="prop">
                1667x2500
            </div>
                <div class="name">
                    正式海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2896551721/#comments">32回应</a>
                </div>
        </li>
    

        <li data-id="2896499810">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896499810/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2896499810.jpg" />
            </a>
        </div>

            <div class="prop">
                1750x2500
            </div>
                <div class="name">
                    正式海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2896499810/#comments">36回应</a>
                </div>
        </li>
    

        <li class="last" data-id="2896515164">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896515164/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2896515164.jpg" />
            </a>
        </div>

            <div class="prop">
                3413x5008
            </div>
                <div class="name">
                    正式海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2896515164/#comments">2回应</a>
                </div>
        </li>
    

        <li data-id="2896517443">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896517443/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2896517443.jpg" />
            </a>
        </div>

            <div class="prop">
                2333x3500
            </div>
                <div class="name">
                    正式海报
                        <a href="https://movie.douban.com/photos/photo/2896517443/#comments">1回应</a>
                </div>
        </li>
    

        <li data-id="2896549586">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896549586/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2896549586.jpg" />
            </a>
        </div>

            <div class="prop">
                3000x1775
            </div>
                <div class="name">
                    正式海报 中国大陆
                </div>
        </li>
    

        <li class="last" data-id="2896549578">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896549578/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2896549578.jpg" />
            </a>
        </div>

            <div class="prop">
                2333x3500
            </div>
                <div class="name">
                    正式海报 中国大陆
                </div>
        </li>
    

        <li data-id="2911964046">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2911964046/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2911964046.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    正式海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2911964046/#comments">8回应</a>
                </div>
        </li>
    

        <li data-id="2897806660">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2897806660/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2897806660.jpg" />
            </a>
        </div>

            <div class="prop">
                1066x1600
            </div>
                <div class="name">
                    正式海报 中国香港
                        <a href="https://movie.douban.com/photos/photo/2897806660/#comments">1回应</a>
                </div>
        </li>
    

        <li class="last" data-id="2893275557">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893275557/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2893275557.jpg" />
            </a>
        </div>

            <div class="prop">
                1400x2000
            </div>
                <div class="name">
                    预告海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893275557/#comments">7回应</a>
                </div>
        </li>
    

        <li data-id="2896968868">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896968868/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2896968868.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报
                        <a href="https://movie.douban.com/photos/photo/2896968868/#comments">45回应</a>
                </div>
        </li>
    

        <li data-id="2896998235">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896998235/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2896998235.jpg" />
            </a>
        </div>

            <div class="prop">
                1080x1845
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2896998235/#comments">28回应</a>
                </div>
        </li>
    

        <li class="last" data-id="2893313612">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893313612/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2893313612.jpg" />
            </a>
        </div>

            <div class="prop">
                3000x4501
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893313612/#comments">7回应</a>
                </div>
        </li>
    

        <li data-id="2893313613">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893313613/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2893313613.jpg" />
            </a>
        </div>

            <div class="prop">
                3000x4501
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2893313617">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893313617/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2893313617.jpg" />
            </a>
        </div>

            <div class="prop">
                3000x4501
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893313617/#comments">2回应</a>
                </div>
        </li>
    

        <li class="last" data-id="2893909970">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893909970/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2893909970.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893909970/#comments">2回应</a>
                </div>
        </li>
    

        <li data-id="2893909962">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893909962/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2893909962.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893909962/#comments">1回应</a>
                </div>
        </li>
    

        <li data-id="2893313616">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893313616/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2893313616.jpg" />
            </a>
        </div>

            <div class="prop">
                3000x4501
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893313616/#comments">8回应</a>
                </div>
        </li>
    

        <li class="last" data-id="2893313618">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893313618/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2893313618.jpg" />
            </a>
        </div>

            <div class="prop">
                3000x4501
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893313618/#comments">9回应</a>
                </div>
        </li>
    

        <li data-id="2896589916">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896589916/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2896589916.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2896589905">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896589905/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2896589905.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li class="last" data-id="2896578752">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896578752/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2896578752.jpg" />
            </a>
        </div>

            <div class="prop">
                615x1000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2896578750">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896578750/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2896578750.jpg" />
            </a>
        </div>

            <div class="prop">
                615x1000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2893909967">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893909967/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2893909967.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li class="last" data-id="2896589927">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896589927/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2896589927.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2896578747">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896578747/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2896578747.jpg" />
            </a>
        </div>

            <div class="prop">
                615x1000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2893909968">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2893909968/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2893909968.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2893909968/#comments">2回应</a>
                </div>
        </li>
    

        <li class="last" data-id="2896589925">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896589925/">
                <img src="https://img9.doubanio.com/view/photo/m/public/p2896589925.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                        <a href="https://movie.douban.com/photos/photo/2896589925/#comments">1回应</a>
                </div>
        </li>
    

        <li data-id="2896589912">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896589912/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2896589912.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li data-id="2896589908">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896589908/">
                <img src="https://img1.doubanio.com/view/photo/m/public/p2896589908.jpg" />
            </a>
        </div>

            <div class="prop">
                2000x3000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
    

        <li class="last" data-id="2896578753">
        <div class="cover">
            <a href="https://movie.douban.com/photos/photo/2896578753/">
                <img src="https://img3.doubanio.com/view/photo/m/public/p2896578753.jpg" />
            </a>
        </div>

            <div class="prop">
                615x1000
            </div>
                <div class="name">
                    角色海报 中国大陆
                </div>
        </li>
</ul>


    
    

    
        <div class="paginator">
        <span class="prev">
            &lt;前页
        </span>
        
        

                <span class="thispage" data-total-page="3">1</span>
                
            <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=30&amp;sortby=like&amp;size=a&amp;subtype=a" >2</a>
        
                
            <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=60&amp;sortby=like&amp;size=a&amp;subtype=a" >3</a>
        
        <span class="next">
            <link rel="next" href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=30&amp;sortby=like&amp;size=a&amp;subtype=a"/>
            <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=30&amp;sortby=like&amp;size=a&amp;subtype=a" >后页&gt;</a>
        </span>

            <span class="count">(共69张)</span>
        </div>



            </div>
            <div class="aside">
                

<div id="dale_movie_subject_photos_top_right"></div>
    <a class="a-btn mb15 " href="https://movie.douban.com/subject/35267224/mupload">&#43;&nbsp;上传剧照&amp;海报&amp;壁纸</a>

<p class="pl2"> &gt; <a href="https://movie.douban.com/subject/35267224/all_photos">全部图片</a></p>


<div id="photos_filter">
    <ul>
        

            <li class="first">
            <a href="https://movie.douban.com/subject/35267224/photos?type=S&start=0&sortby=like&size=a&subtype=a">
                剧照 (903)
            </a>
        </li>

        

        <li class="up"></li>
        <li class="current">
            <span>海报 (69)</span>
        </li>

            


    


            <ul class="sub">
                <li>
                    <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=0&amp;sortby=like&amp;size=a&amp;subtype=o">
                        正式海报 (8)
                    </a>
                </li>

    


                <li>
                    <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=0&amp;sortby=like&amp;size=a&amp;subtype=p">
                        预告海报 (1)
                    </a>
                </li>

    


                <li>
                    <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=0&amp;sortby=like&amp;size=a&amp;subtype=r">
                        角色海报 (45)
                    </a>
                </li>

    


                <li>
                    <a href="https://movie.douban.com/subject/35267224/photos?type=R&amp;start=0&amp;sortby=like&amp;size=a&amp;subtype=t">
                        其他海报 (15)
                    </a>
                </li>
            </ul>



        

            <li>
            <a href="https://movie.douban.com/subject/35267224/photos?type=W&start=0&sortby=like&size=a&subtype=a">
                壁纸 (0)
            </a>
        </li>

    </ul>
</div>

<div class="mt40 mb40">

<p class="pl2">&gt; <a href="https://movie.douban.com/subject/35267224/">去 孤注一掷 的页面</a></p>

</div>

<div id="dale_movie_subject_photos_middle_mini"></div>

    
    <h2>
        最新回应
            &nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;&nbsp;&middot;
    </h2>

    <ul class="mbt"><li class="mbtl"><a href="https://www.douban.com/people/252608977/"><img src="https://img3.doubanio.com/icon/u252608977-3.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159817053">影迷 : 诈骗再继续</a><span class="pl">  09-17 14:18</span></li><li class="mbtl"><a href="https://www.douban.com/people/KOUSHI_JERRY/"><img src="https://img2.doubanio.com/icon/u166640261-1.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159814988">昊子 : 时隔一年,终于上线到各大播放平台了!</a><span class="pl">  09-16 12:18</span></li><li class="mbtl"><a href="https://www.douban.com/people/4786815/"><img src="https://img1.doubanio.com/icon/user_normal.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159772670">Bebee : 这种片子一年就重映一回，真是脸都不要了</a><span class="pl">  08-23 22:02</span></li><li class="mbtl"><a href="https://www.douban.com/people/137906411/"><img src="https://img9.doubanio.com/icon/u137906411-5.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159767976">Babayaga : ？疯了</a><span class="pl">  08-21 12:46</span></li><li class="mbtl"><a href="https://www.douban.com/people/251604865/"><img src="https://img2.doubanio.com/icon/u251604865-1.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159767844">沙雕小盆友 : 与其不断重映，不如好好调整一下档期布局，中秋档都有两个题材撞车了</a><span class="pl">  08-21 10:51</span></li><li class="mbtl"><a href="https://www.douban.com/people/178372545/"><img src="https://img1.doubanio.com/icon/u178372545-8.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159766473">疯狂的面条 : 这种玩意有必要重映嘛</a><span class="pl">  08-20 17:59</span></li><li class="mbtl"><a href="https://www.douban.com/people/263095069/"><img src="https://img3.doubanio.com/icon/u263095069-2.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159765782">欧卡普 : 终于知道那么久不上优酷等流媒体的原因了，原来要重映哦😍</a><span class="pl">  08-20 11:02</span></li><li class="mbtl"><a href="https://www.douban.com/people/209022170/"><img src="https://img9.doubanio.com/icon/u209022170-5.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2911964046/#c-159764935">Pearl : 不明白干嘛要重映，就因为是去年票房冠军？</a><span class="pl">  08-19 22:20</span></li><li class="mbtl"><a href="https://www.douban.com/people/271883619/"><img src="https://img3.doubanio.com/icon/u271883619-2.jpg"/></a></li>
            <li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2893313616/#c-159631740">刁小官 : 帅</a><span class="pl">  06-09 13:07</span></li><li class="mbtl"></li><li class="mbtrdot"><a href="https://movie.douban.com/photos/photo/2893313617/#c-159631739">刁小官 : 好美</a><span class="pl">  06-09 13:07</span></li></ul>

            </div>
            <div class="extra">
                
            </div>
        </div>
    </div>

        
    <div id="footer">
            <div class="footer-extra"></div>
        
<span id="icp" class="fleft gray-link">
    &copy; 2005－2024 douban.com, all rights reserved 北京豆网科技有限公司
</span>

<a href="https://www.douban.com/hnypt/variformcyst.py" style="display: none;"></a>

<span class="fright">
    <a href="https://www.douban.com/about">关于豆瓣</a>
    · <a href="https://www.douban.com/jobs">在豆瓣工作</a>
    · <a href="https://www.douban.com/about?topic=contactus">联系我们</a>
    · <a href="https://www.douban.com/about/legal">法律声明</a>
    
    · <a href="https://help.douban.com/?app=movie" target="_blank">帮助中心</a>
    · <a href="https://www.douban.com/doubanapp/">移动应用</a>
    · <a href="https://www.douban.com/partner/">豆瓣广告</a>
</span>

    </div>

    </div>
    <!-- COLLECTED JS -->
        
        
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/f/vendors/e8a7261937da62636d22ca4c579efc4a4d759b1b/css/ui/dialog.css" />
    <link rel="stylesheet" type="text/css" href="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.b2f60.css" />
    <script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <script type="text/javascript">
        var HTTPS_DB = "https://www.douban.com"
    </script>
    <script type="text/javascript" src="https://img1.doubanio.com/cuphead/movie-static/mod/login_pop.7f2b9.js"></script>

    
<script type="text/javascript" src="https://img1.doubanio.com/f/vendors/f25ae221544f39046484a823776f3aa01769ee10/js/ui/dialog.js"></script>
    <!-- douban ad begin -->
    




    
<script type="text/javascript">
    (function (global) {
        var newNode = global.document.createElement('script'),
            existingNode = global.document.getElementsByTagName('script')[0],
            adSource = '//erebor.douban.com/',
            userId = '',
            browserId = '84JElBIUpX4',
            criteria = '3:/subject/35267224/photos?type=R',
            preview = '',
            debug = false,
            adSlots = ['dale_movie_subject_photos_top_right', 'dale_movie_subject_photos_middle_mini'];

        global.DoubanAdRequest = {src: adSource, uid: userId, bid: browserId, crtr: criteria, prv: preview, debug: debug};
        global.DoubanAdSlots = (global.DoubanAdSlots || []).concat(adSlots);

        newNode.setAttribute('type', 'text/javascript');
        newNode.setAttribute('src', '//img1.doubanio.com/bG90MDZqMy9mL2FkanMvYzhmZjE5MGNhYzNkN2UyMWJjMTI3NzJlYWNkOWVkODZhMmFjMzdhMi9hZC5yZWxlYXNlLmpz?company_token=kX69T8w1wyOE-dale');
        newNode.setAttribute('async', true);
        existingNode.parentNode.insertBefore(newNode, existingNode);
    })(this);
</script>







    <!-- douban ad end -->

    
  









<script type="text/javascript">
var _paq = _paq || [];
_paq.push(['trackPageView']);
_paq.push(['enableLinkTracking']);
(function() {
    var p=(('https:' == document.location.protocol) ? 'https' : 'http'), u=p+'://fundin.douban.com/';
    _paq.push(['setTrackerUrl', u+'piwik']);
    _paq.push(['setSiteId', '100001']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript';
    g.defer=true;
    g.async=true;
    g.src=p+'://img3.doubanio.com/dae/fundin/piwik.js';
    s.parentNode.insertBefore(g,s);
})();
</script>

<script type="text/javascript">
var setMethodWithNs = function(namespace) {
  var ns = namespace ? namespace + '.' : ''
    , fn = function(string) {
        if(!ns) {return string}
        return ns + string
      }
  return fn
}

var gaWithNamespace = function(fn, namespace) {
  var method = setMethodWithNs(namespace)
  fn.call(this, method)
}

var _gaq = _gaq || []
  , accounts = [
      { id: 'UA-7019765-1', namespace: 'douban' }
    , { id: 'UA-7019765-19', namespace: '' }
    ]
  , gaInit = function(account) {
      gaWithNamespace(function(method) {
        gaInitFn.call(this, method, account)
      }, account.namespace)
    }
  , gaInitFn = function(method, account) {
      _gaq.push([method('_setAccount'), account.id]);
      _gaq.push([method('_setSampleRate'), '5']);

      
  _gaq.push([method('_addOrganic'), 'google', 'q'])
  _gaq.push([method('_addOrganic'), 'baidu', 'wd'])
  _gaq.push([method('_addOrganic'), 'soso', 'w'])
  _gaq.push([method('_addOrganic'), 'youdao', 'q'])
  _gaq.push([method('_addOrganic'), 'so.360.cn', 'q'])
  _gaq.push([method('_addOrganic'), 'sogou', 'query'])
  if (account.namespace) {
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣'])
    _gaq.push([method('_addIgnoredOrganic'), 'douban'])
    _gaq.push([method('_addIgnoredOrganic'), '豆瓣网'])
    _gaq.push([method('_addIgnoredOrganic'), 'www.douban.com'])
  }

      if (account.namespace === 'douban') {
        _gaq.push([method('_setDomainName'), '.douban.com'])
      }

        _gaq.push([method('_setCustomVar'), 1, 'responsive_view_mode', 'desktop', 3])

        _gaq.push([method('_setCustomVar'), 2, 'login_status', '0', 2]);

      _gaq.push([method('_trackPageview')])
    }

for(var i = 0, l = accounts.length; i < l; i++) {
  var account = accounts[i]
  gaInit(account)
}


;(function() {
    var ga = document.createElement('script');
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    ga.setAttribute('async', 'true');
    document.documentElement.firstChild.appendChild(ga);
})()
</script>








      

    <!-- dae-web-movie--default-57cffbb67b-86f5p-->

  <script>_SPLITTEST=''</script>
</body>

</html>


